@import '~antd/dist/antd.dark.css';

.logo {
  float: left;

  img {
    height: 40px;
    padding: 0px 4px;
    margin-top: -8px;
  }
}

.ant-layout-header {
  padding: 0px 10px;

  .ant-menu {
    font-family: 'Futile Pro';
    text-transform: uppercase;
    font-size: x-small;
    letter-spacing: 1px;
    float: right;

    .ant-menu-item-active,
    .ant-menu-item-active:hover {
      background-color: darken(#e99766, 40);
    }
  }
}

.ant-layout-content {
  margin: 12px 12px 0;
}
