.game-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  background: #111;
  border: 1px solid #333;
  margin-bottom: 10px;
  align-items: center;

  div {
    flex: 1;
    color: #999;

    span,
    strong {
      color: #fff;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
    display: inline-flex;
    flex-direction: row;

    li {
      display: inline-flex;
      flex: 1;
      justify-content: flex-end;
    }
  }
}
