.game-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  background: #111;
  border: 1px solid #333;
  margin-bottom: 10px;
  align-items: center;

  div {
    color: #999;

    span,
    strong {
      color: #fff;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    float: right;
    flex: 1;
    justify-content: flex-end;

    li {
      display: inline-flex;
      margin: 0px 5px;
    }
  }
}
