@font-face {
  font-family: 'Futile Pro';
  src: url('./app/assets/fonts/futile-pro.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root {
  display: flex;
  flex: 1;
}
